certifi==2018.4.16
chardet==3.0.4
Click==7.0
decorator==4.3.0
Flask==1.1.1
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
networkx==1.11
numpy==1.17.0
pandas==0.25.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1
requests==2.20.0
six==1.12.0
urllib3==1.24.2
Werkzeug==3.0.3
wincertstore==0.2
zomathon==1.4
geopy==1.20.0
